<div class="row">
    <div class="col-xs-4">
        <div class="btn-group btn-group-vertical">
            <button class="btn"
                    ng-repeat="category in categories"
                    ng-class="currentCategory.id === category.id ? 'btn-primary' : 'btn-default'"
                    ng-click="switchCategory(category)">
                {{ category.name }}
            </button>
        </div>
    </div>
    <div class="col-xs-8">
        <div class="row">
            <div class="col-xs-12">
                <h4 class="text-center">
                    Front of Theater
                </h4>
            </div>
        </div>
        <div class="row" ng-repeat="row in rows">
            <div class="col-xs-1 seat"
                 ng-repeat="seat in seats"
                 ng-class="[seatStatus(row, seat), {'col-xs-offset-1': seat === 1}]"
                 ng-click="pickSeat(row, seat)">
                {{ row + seat }}
            </div>
        </div>
        <div class="row" ng-show="picked >= 1">
            <div class="col-xs-12">
                <h4 class="pull-right">
                    Ticket Cost: {{ picked * 25 | currency:'$':0 }}
                </h4>
            </div>
        </div>
    </div>
</div>